<h1>Это страница {{title}}</h1>

<h3>Мои контакты:</h3>

<table border="1px">
    <tr>
        <td>Номер телефона</td>
        <td>{{tel}}</td>
    </tr>
    <tr>
        <td>Почта</td>
        <td>{{email}}</td>
    </tr>
</table>